<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reminder: <%= @note.title %></h1>
    <p>
      This is a reminder for the note "<%= @note.title %>".
    </p>
    <p>
      <%= @note.description %>
    </p>
    <p>Thanks for using our service!</p>
  </body>
</html>
