<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Note has been shared with you</h1>
    <p>
      <%= @note.owner.fullname %> has shared a note titled "<%= @note.title %>" with you.
    </p>
    <p>
      To view the note, just follow this link:  <a href="<%= @link %>" ><%= @note.title %></a>.
    </p>
    <p>Thanks for using our service!</p>
  </body>
</html>
