<!DOCTYPE html>
<html>

  <head>
    <title>Multi Magic | All-in-One App for Notes, Finances, Contacts, and More</title>
    <%= favicon_link_tag 'hama_round_favicon.png' %>

    <!-- Meta Tags for SEO -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Multi Magic helps you manage notes, track finances, handle loans and expenses, save contacts, and more. With messaging, blogging, and future app expansions, it's your go-to productivity app.">
    <meta name="keywords" content="productivity app, note app, finance management, loan tracking, expense tracker, contact management, messaging, blogging, Multi Magic, Hammayoun Safi">
    <meta name="author" content="Hammayoun Safi">

    <!-- Open Graph Meta Tags for Social Media Sharing -->
    <meta property="og:title" content="Multi Magic | Your Ultimate Productivity & Finance App">
    <meta property="og:description" content="Manage your notes, finances, loans, expenses, and more with Multi Magic. Stay organized with messaging, contact saving, blogging, and future app updates.">
    <meta property="og:image" content="https://www.multimagics.com/path-to-your-image.jpg">
    <meta property="og:url" content="https://www.multimagics.com">
    <meta property="og:type" content="website">

    <!-- Structured Data Schema Markup -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "SoftwareApplication",
        "name": "Multi Magic",
        "url": "https://www.multimagics.com",
        "author": {
          "@type": "Person",
          "name": "Hammayoun Safi"
        },
        "description": "Multi Magic is an all-in-one app for managing notes, finances, loans, expenses, contacts, and messaging with future features planned.",
        "applicationCategory": "ProductivityApplication",
        "operatingSystem": "Web"
      }
    </script>

    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_typescript_tag 'multi_magic' %>
  </head>

  <body>
    <div id="mainLoader" style="
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 300px;
    ">
      <svg width="200px" height="200px"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="background: none;">
          <circle cx="75" cy="50" fill="#363a3c" r="6.39718">
              <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.875s"></animate>
          </circle>
          <circle cx="67.678" cy="67.678" fill="#363a3c" r="4.8">
              <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.75s"></animate>
          </circle>
          <circle cx="50" cy="75" fill="#363a3c" r="4.8">
              <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.625s"></animate>
          </circle>
          <circle cx="32.322" cy="67.678" fill="#363a3c" r="4.8">
              <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.5s"></animate>
          </circle>
          <circle cx="25" cy="50" fill="#363a3c" r="4.8">
              <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.375s"></animate>
          </circle>
          <circle cx="32.322" cy="32.322" fill="#363a3c" r="4.80282">
              <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.25s"></animate>
          </circle>
          <circle cx="50" cy="25" fill="#363a3c" r="6.40282">
              <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.125s"></animate>
          </circle>
          <circle cx="67.678" cy="32.322" fill="#363a3c" r="7.99718">
              <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="0s"></animate>
          </circle>
      </svg>
    </div>

    <div id="app" class="scrollbar"> </div>
  </body>
</html>